@import "../colors.scss";

.loginContainer {
	background: linear-gradient(0deg, #222e3f 0%, #2d3c51 50%, #394b63 100%);
	height: 100vh;
}

.toggleContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.toggleBtn {
	padding: 8px 20px;
	font-size: 12px;
	// cursor: pointer;
	background-color: $primaryDark;
	color: $primaryLight;
	&.active {
		background-color: $primary;
		color: $white;
		border-radius: 16px 0px 0px 16px;
		box-shadow: 0 0 10px 2px $shadow;
		&:last-child {
			border-radius: 0 16px 16px 0;
		}
	}

	border-radius: 16px 0px 0px 16px;
	&:last-child {
		border-radius: 0 16px 16px 0;
	}
}

.toggleContainerTitles {
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
}

.title {
	font-size: 24px;
	font-weight: 300;
	color: $textDark;
	&.active {
		color: $white;
		border-bottom: 1px solid $primary;
		padding-bottom: 8px;
	}
}

.orText {
	font-size: 20px;
	color: $textDark;
	font-weight: 300;
}

.loginFormsContainer {
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	gap: 60px;
}
